<footer>
  <div class="logo-footer">
    <img src="/logo/FullLogo-mobile.png" alt="">
  </div>
  <div class="main-footer">
    <p>&copy; 2024 AL Service - Pulizie, Manutenzioni e Sanificazioni</p>
    <p>Affidabilità e qualità per ogni esigenza</p>
  </div>
  <div class="contact">
    <h3>Contattaci</h3>
    <ul class="contact-list">
        <li>
            <i class="fas fa-phone-alt"></i>
            <a href="tel:+393516209640">351 6209640</a>
        </li>
        <li>
            <i class="fas fa-envelope"></i>
            <a href="mailto:info@alservice.it">info&#64;alservice.it</a>
        </li>
        <li>
            <i class="fab fa-telegram-plane"></i>
            <a href="https://t.me/alservice" target="_blank">Telegram</a>
        </li>
    </ul>
  </div>
</footer>
