.services {
  padding: 20px;
}

.card {
  margin-bottom: 20px;
  height: 100%; /* Per uniformare l'altezza delle card */
}

.card-text {
  margin-bottom: 1rem; /* Aggiunto un po' di spazio sotto il testo */
}
