<app-nav></app-nav>
<header>
  <div class="bg-immage">

  </div>
</header>
<section class="title">
  <h1>SERVIZI</h1>
  <p>Offriamo un vasto assortimento di servizi per ogni esigenza</p>
</section>
<section class="services-section">
  <main class="container">
    <h2>I Nostri Servizi</h2>
    <div class="services-grid">
      <div class="service-card">
        <img src="/servizi/pulizie.png" alt="Servizio 1">
        <h3>Pulizie</h3>
        <p>offriamo servizi pulizie ordinarie presso il vostro condominio con contratto annuale e/o pulizie straordinarie ad interventi unici. </p>
      </div>
      <div class="service-card">
        <img src="/servizi/giardinaggio.png" alt="Servizio 2">
        <h3>Giardinaggio</h3>
        <p>offriamo servizi di manutenzione del verde ordinaria con contratto annuale e/o interventi unici straordinari.</p>
      </div>
      <div class="service-card">
        <img src="/servizi/manutenzioni.png" alt="Servizio 3">
        <h3>Manutenzioni</h3>
        <p>dai piccoli lavori di manutenzione del condominio a lavori di ristrutturazione, garantiamo questo servizio con persone qualificate.</p>
      </div>
      <div class="service-card">
        <img src="/servizi/sanificazioni.png" alt="Servizio 4">
        <h3>Sanificazioni</h3>
        <p>svolgiamo questo tipo di servizio utilizzando solo prodotti specifici testati negli anni in grado di eliminare infestazione senza danneggiare il vostro ambiente</p>
      </div>
      <div class="service-card">
        <img src="/servizi/disinfestazioni.png" alt="Servizio 5">
        <h3>Disinfestazioni</h3>
        <p>personale qualificato per eseguire servizi di disinfestazioni per ogni esigenza, contro ogni tipo di agente  infestante </p>
      </div>
      <div class="service-card">
        <img src="/servizi/premium.png" alt="Servizio 6">
        <h3>Pulizie Premium</h3>
        <p>offriamo servizi di pulizie con macchinari specifici altamente professionali in base all esigenza.</p>
      </div>
    </div>
  </main>
</section>

<section class="prev">
  <h2>Richiedi un preventivo</h2>
  <div class="preventive">
    <div>
      <i class="fa-solid fa-envelope"></i>
      <h3>Email</h3>
      <p>Invia la tua richiesta via email, includendo il tuo numero di telefono, per ricevere un preventivo personalizzato in base alle tue esigenze.</p>
    </div>
    <div class="middle-dard">
      <i class="fa-solid fa-phone"></i>
      <h3>Ricontatto</h3>
      <p>Il nostro team ti richiamerà al più presto per approfondire la tua richiesta e fornirti tutte le informazioni necessarie.</p>
    </div>
    <div>
      <i class="fa-solid fa-person-running"></i>
      <h3>Sopralluogo</h3>
      <p>Effettueremo un sopralluogo gratuito per valutare sul posto le caratteristiche del tuo ambiente e formulare un preventivo accurato e su misura.</p>
    </div>
  </div>
</section>

<app-contact></app-contact>
<app-footer></app-footer>
