<app-nav></app-nav>
<section class="bg-hero" >
  <div class="hero-content">
    <h1>Pulizia, giardinaggio e manutenzione: qualità e affidabilità per ogni esigenza!</h1>
    <p>Soluzioni professionali per ambienti sempre curati e accoglienti. Affidati alla nostra esperienza per un servizio impeccabile e su misura!</p>
  </div>
</section>
<section class="about-us">
  <main class="container-main">
    <h2>Chi Siamo</h2>
    <p>Siamo un’impresa multiservizi specializzata nella manutenzione di condomini e non solo.</p>

    <p>Con oltre 15 anni di esperienza, <strong>AL Service</strong> mette a disposizione un team qualificato per garantire interventi di alta qualità, precisione e professionalità.</p>

    <h3>“Affidati a veri esperti del settore!”</h3>

    <p>Grazie a un costante aggiornamento, utilizziamo le migliori tecniche e prodotti per offrirti un servizio sempre all’altezza delle tue aspettative.</p>
  </main>
</section>
<section class="best-services">
  <div class="container-services">
    <div class="services">
      <img src="https://picsum.photos/200/300" alt="">
      <div class="content">
        <h2>🧹 Pulizie</h2>
        <p>Offriamo servizi di <strong>pulizia ordinaria</strong> per il vostro condominio con contratto annuale, garantendo ambienti sempre curati e igienizzati.</p>
        <p>Inoltre, eseguiamo <strong>interventi straordinari</strong> su richiesta, per una pulizia profonda e mirata quando ne avete più bisogno.</p>
      </div>
    </div>
    <div class="services middle-service">
      <div class="content">
        <h2>🔧 Manutenzioni</h2>
        <p>Dai piccoli interventi di manutenzione condominiale ai lavori di ristrutturazione, offriamo un servizio affidabile e garantito, grazie a personale altamente qualificato.</p>
      </div>
      <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div class="services">
      <img src="https://picsum.photos/200/300" alt="">
      <div class="content">
        <h2>🦠 Sanificazioni</h2>
        <p>Utilizziamo prodotti testati e certificati per eliminare infestazioni senza compromettere la sicurezza e il benessere del vostro ambiente.</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
