<app-nav></app-nav>
<section class="service-areas">
  <h2>Dove Trovarci</h2>
  <h2>Via domenico cucchiari 43-45</h2>
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.685288432103!2d12.533551276579646!3d41.899624871239375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f622c7d6d0b2d%3A0x9bddf7b167b784ee!2sVia%20Domenico%20Cucchiari%2C%2043%2F45%2C%2000159%20Roma%20RM!5e0!3m2!1sit!2sit!4v1741107747093!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="comuni-list">
    <h2>Zone di intervento - Roma Nord</h2>
    <h3>Operiamo nei seguenti comuni:</h3>
    <ul>
      <li>Capena</li>
      <li>Fiano Romano</li>
      <li>Riano</li>
      <li>Monterotondo</li>
      <li>Morlupo</li>
      <li>Formello</li>
      <li>Sacrofano</li>
      <li>Campagnano di Roma</li>
      <li>Civitella San Paolo</li>
      <li>Castelnuovo di Porto</li>
    </ul>
  </div>
</section>

<app-footer></app-footer>
